/*@@@@ NAVBAR @@@@*/

.topNav {
    background: rgba(204, 204, 204, 0.5);
    margin: 0 0 1em 0;
    padding: 0;
    border-bottom: 2px solid rgba(126, 159, 176,0.4);
    overflow:hidden;
    width: 100%;
}

.trans-bg{
        background: rgba(200, 54, 54,0.5);
}

.topNav a {
    float: left;
    display:flow-root;
    font-family:sans-serif;
    text-decoration: none;
    color: rgb(126, 159, 176);
    font-weight:900;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}


.topNav a:hover {
    background: rgba(114, 224, 58,0.5);
    color: rgb(126, 159, 176);
    opacity: 0,8;
}

.topNav a.active {
    background-color: yellow;
    color: purple;
}

.immaginePresentazione {
  padding: 20px 20px;
  display: inline-block;
  border-radius: 10px;
  position: sticky;
}

.parkidle_button{
border-radius: 10px;
}

.parkidle_button:hover {
  background-color: #3a3b3d
}

.parkidle_button:active {
  background-color:#3a3b3d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*@@@@ Who we Are @@@@*/

.container-fluid h3{
    font-family: "Exo 2",serif;
    font-size: 40px;
    font-weight: 800;
}

.container-fluid h6{
    font-family: "Exo 2",serif;
    font-size: 20px;
    font-weight: 600;
}





/*@@@@ F.A.Q @@@@*/
.container .faq{
    font-family: "Exo 2",serif;
    font-size: 70px;
    font-weight: bolder;
    display: block;
    text-align: center;
}
.container .answer{

  font-weight: bolder;
}


.domande{
    font-family: "Exo 2",serif;
    background: rgba(197, 217, 234,0.5);
    border-radius: 100px;
    padding: 20px;
    opacity: 0,8;
}

.domande .question{
    font-weight: bolder;
    font-size: 40px;
    display: block;
    text-align: center;
}

#domanda,#domanda2,#domanda3,#domanda4{
    font-size: 24px;
    text-align: center;
    visibility: collapse;
    display:none;
}

/*@@@@ BODY @@@@*/
body {
    margin: 0px;
    border: 0px;
    /*background-color: white;*/
    background-image: url("res/sfondo.jpg");
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: auto;
}

/*@@@@ CONTACT US @@@@*/
.contactus {
    width: 450px;
    height: 415px;
    background-color: rgba(204, 204, 204, 0.5);
    opacity: 0.9;
    border-radius: 10px;
    float:right;
}
.contactus form{
    text-shadow: 2px 2px black;
    font-weight: bolder;
    text-align: left;
    color: white;
    font-size: 15;
    text-decoration-style: solid;
}
.contactdesc {
    font-size: 20px;
    float:left;
    width: inherit;
    text-shadow: 1px 1px black;
    color: rgb(170, 180, 176);
}

.tabellaImmagini {
    transition-property: none;
    transition-duration: 2s;
}

/*@@@@ INDEX @@@@*/

@keyframes pulse{
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}



.container_img {
    padding: 0 150px 0 0;
    border-bottom: 2px solid black;
    margin: 0 5% 0 5%;
}
.container_img #logo{

  animation-name: pulse;
  animation-duration:1s;
  animation-direction:forward;
}

.container_img #home_slogan{
    font-family: "Exo 2",serif;
    font-size: 40px;
    margin: 0 0 0 50px;
}

.jumbotron {
    font-family: "Exo 2",serif;
}

.jumbotron #end{
    font-weight: bolder;
}
.index-fluid{
    font-family: "Exo 2",serif;
    margin: 0 5% 0 5%;
}

.container-fluid .rows{
    padding: 100px 50px 100px 50px;
}

.container-fluid #run #title{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.container-fluid #run #desc{
    font-size: 30px;
    border-left: 2px solid rgba(197, 217, 234,1);
}

.container-fluid #spot #title{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.container-fluid #spot #desc{
    font-size: 30px;
    border-left: 2px solid rgba(197, 217, 234,1);
}

.container-fluid #park #title{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.container-fluid #park #desc{
    font-size: 30px;
    border-left: 2px solid rgba(197, 217, 234,1);
}

.container #title{
    font-family: "Exo 2",serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: #377bb5;
    border-top: 2px solid black;
    padding: 10px;
}

.container #help{
    font-family: "Exo 2",serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: #377bb5;

}

.buttons{
    display: block;
    text-align: center;
}
