.topNav {
    background-color: blue;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.8;
}

.topNav a {
    float: left;
    display:flow-root;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17;
}

.topNav a:hover {
    background-color: white;
    color: red;
    opacity: 0.5;
    border-radius: 5px;
}
.faq{
  text-shadow: 2px 2px black;

}

.tabellaImmagini {
  transition-property: none;
  transition-duration: 2s;
}

.topNav a.active {
    background-color: yellow;
    color: purple;
}

body {
  background-color: white;
  background-image: url("res/blurry-city-lights.webp");
  background-attachment: scroll;
  background-size: cover;
}

.domande{
  text-shadow: text-shadow: 2px 2px black;
  color: white;
  shape;

}

.contactus {
    color: blue;
}
