html
    head
        title= title
        meta(http-equiv='refresh', content ="2 URL=https://www.google.it")
    body(style={color: 'red', background:green})
        h1= message
        a.foo_link(href='index.html', target='_blank') return to HomePage
